.box{
  width: 100%;
}
.card{
  width: 100%;
  overflow-y: scroll;
  height: calc(100vh - 335px);
}
.tab_box_wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0 16px;
  width: auto;
}
.tab_box_item{
  width: calc(50% - 12px);
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  color: inherit;
}
.tab_box_item_li{
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tab_box_item img{
  width: 240px;
  height: 120px;
}
.price{
  display: flex;
  align-items: center;
}
.name{
  height: 48px;
  width: 100%;
  text-align: center;
}
.curent{
  position: absolute;
  right:  20px;
  top: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
