body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.active p{
  color: var(--text-dark-grey-secondary-text, #8585AD);
}
.activeProfile, .noactiveProfile{
  text-decoration: none;
}
.noactiveProfile p{
  color: #8585AD;
}
.activeProfile p{
  color: var(--text-primary-light-standart-text, #F2F2F3);
}
